<div class= "user-form-container container">
  <h1>Log In</h1></br>
  <div class="user-form">
    <%= form_tag login_path do %>
      <div class="form-group"style="margin-bottom:1%">
        <%= label_tag :email %>
        <div class="form-control" style="margin-top:1%">
          <%= text_field_tag :email %>
        </div>
      </div>
      </br>
      <div class="form-group">
        <%= label_tag :password %>
        <div class="form-control" style="margin-top:1%">
          <%= password_field_tag :password %>
        </div>
      </div>
      </br>
      <div>
        <%= submit_tag "Log In", class: "btn btn-primary btn-sm btn-outline-info" %>
      </div>
    <% end %>
  </div>
</div>
