<div class= "user-form-container container">
  <h1>Please enter your info to start summoning smart.</h1></br>
  <div class="user-form">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name, style: "margin-bottom:1%" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter name" %>
      </div>
      </br>
      <div class="form-group">
        <%= f.label :email, style: "margin-bottom:1%" %>
        <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
        <small class="form-text text-muted">
          We'll never share your email with anyone else.
        </small>
      </div>
      </br>
      <div class="form-group">
        <%= f.label :password, style: "margin-bottom:1%" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      </br>
      <div class="form-group">
        <%= f.label :password_confirmation, style: "margin-bottom:1%"%>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
      </div>
      </br>
      <div>
        <%= f.submit 'Get started!', class: "btn btn-primary btn-sm btn-outline-info"%>
      </div>
    <% end %>
  </div>
</div>
