<div class="container">
  <div class="name-header jumbotron">
    <h1>
      <%= @champion.name %>
    </h1>
  </div>
</div>
<ul id='champion-attributes'>
  <li>Damage Type:</br>
    <%= @champion.damage %>
  </li>
  <li>Primary Class: </br>
    <%= @champion.primary_class %>
  </li>
  <li>Secondary Class: </br>
    <%=@champion.secondary_class %>
  </li>

  <li>Passive: </br>
    <%= @skill.passive %>
  </li>
  <li>Q: </br>
    <%= @skill.q %>
  </li>
  <li>W: </br>
    <%= @skill.w %>
  </li>
  <li>E: </br>
    <%= @skill.e %>
  </li>
  <li>R: </br>
    <%= @skill.r %>
  </li>
</ul>
