<ul>
  <li>
    <%= @champion.name %>
  </li>
  <li>
    <%= @champion.damage %>
  </li>
  <li>
    <%= @champion.primary_class %>
  </li>
  <li>
    <%= @champion.secondary_class %>
  </li>
  <li>
    <%= @champion.rune_path %>
  </li>
  <li>
    <%= @champion.skill_order %>
  </li>
</ul>
