<!DOCTYPE html>
<html>
  <head>
    <title>Smartsummon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navigation" %>
    <%= yield %>
  </body>
</html>
